@model Turnos.Models.Paciente

<br>
<h4 class="center">¿Esta Usted Seguro de Eliminar el Siguiente Paciente?</h4>
<br>
<div>
    <h5>Paciente</h5>
    <hr />
    <div class="row">
        <div class="col s12 m12">
            <div class="card hoverable purple darken-3">
                <div class="card-content white-text">
                    
                    <h5 class="center card-title"><b>@Html.DisplayFor(model => model.Nombre) @Html.DisplayFor(model => model.Apellido)</b></h5>
                    <br>
                    <dt>
                        <h6>@Html.DisplayNameFor(model => model.Direccion):</h6> @Html.DisplayFor(model => model.Direccion)
                    </dt>
                    <hr/>
                    <dt>
                        <h6>@Html.DisplayNameFor(model => model.Telefono):</h6> @Html.DisplayFor(model => model.Telefono)
                    </dt>
                    <hr/>
                    <dt>
                        <h6>@Html.DisplayNameFor(model => model.Email):</h6> @Html.DisplayFor(model => model.Email)
                    </dt>
                </div>

                <div class="card-action purple darken-4">
                    <form asp-action="Delete">
                        <input type="hidden" asp-for="IdPaciente"/>
                        <input type="submit" value="Eliminar" class="waves-effect waves-light btn-small red darken-1" />
                        <a asp-action="Index" class="right waves-effect waves-light btn-small purple darken-1">
                        <i class="material-icons left">undo</i>Volver</a>
                    </form>
                </div>

            </div>
        </div>
    </div>
    
</div>